
/* navbar */
.navbar {
    font-family: Suranna;
    color: white;
    font-size: 1.05em;
    background-color: #020202;
    opacity: 0.9; /* Use a decimal value for opacity */
}

.navbar-nav .nav-link {
    color: #fbf5e9;
}

.navbar-nav .nav-link:hover {
    color: #7f50d2;
}

.navbar-brand {
    color: #fbf5e9 !important;
    cursor: pointer;
}
